.home-section {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://as1.ftcdn.net/v2/jpg/00/52/14/94/1000_F_52149432_4FhRgWtKJQFCM299StO3te3zwXF5KAfE.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  padding-bottom: 60px;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 10 20px;
}

/* Hero Text Box */
.hero-box {
  max-width: 1200px;
  padding: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.12);
  /* backdrop-filter: blur(10px); */
  margin-bottom: 50px;
  margin-top: 20px;
}

.hero-box h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 15px;
  max-width: 50%;
}

.hero-box p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 50%
}

/* Feature Boxes */
.feature-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.feature-card {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.feature-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.feature-card p {
  font-size: 14px;
  line-height: 1.5;
}

/* Hover Effect */
.feature-card:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.15);
}

/* Project Highlight Section */
.project-highlight {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.project-card {
  background: rgba(255, 255, 255, 0.12);
  /* backdrop-filter: blur(10px); */
  border-radius: 25px;
  padding: 25px;
  width: 900px;
  text-align: center;
  color: #fff;
  margin-bottom: auto;
}

/* Image */
.project-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* Title */
.project-card h3 {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 90%;
  padding: 0 20px;

}

/* Slider dots */
.slider-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  opacity: 0.6;
}

.dot.active {
  background: #2dbb2d;
  opacity: 1;
}

/* Button */
.project-btn {
  background: #2dbb2d;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.project-btn:hover {
  background: #26a626;
}