.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: #08377c;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu li {
  position: relative;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  transition: 0.3s;
}

.nav-menu a:hover {
  background: #1f3b5b;
  border-radius: 5px;
}

/* Dropdown */
.dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background: #0f2f57;
  min-width: auto;
  width: auto;
  border-radius: 10px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  z-index: 999;
}



/* Dropdown links */
.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 20px;
  color: #fff;
  font-size: 14px;
  transition: background 0.3s ease, padding-left 0.3s ease;
}

/* Hover effect inside dropdown */
.dropdown-menu li a:hover {
  background: rgba(255, 255, 255, 0.15);
  padding-left: 28px;
}

/* Show dropdown */
.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: all 0.25s ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.nav-menu a.active {
  color: #3cff00;
  font-weight: 600;
}
